@use '../scss/mixins.scss';
@use '../scss/variables.scss';

/** @define MainTemplate **/
.MainTemplate__SideNav {
  padding: variables.$main-padding;

  @include mixins.theme(tertiary);
}

.MainTemplate__Header {
  padding: variables.$main-padding;  

  @include mixins.theme(secondary);
}

.MainTemplate__SearchForm {
  width: 50%;
  justify-content: flex-end;

  @include mixins.respond(md) {
    width: 30%;
  }
  @include mixins.respond(lg) {
    width: 25%;
  }
}

.MainTemplate__SearchButton {
  @include mixins.theme(primary);
}

.MainTemplate__Content {
  display: flex;
  width: 90%;

  @include mixins.theme(primary);
}

.MainTemplate__Section {
  padding: variables.$main-padding;
}